@import '../../common/common';
@import "~office-ui-fabric/src/components/Dropdown/Dropdown";

.ms-Dropdown {
  user-select: none;
}

.ms-Dropdown-items {
  box-shadow: 0 0px 15px -5px rgba(0, 0, 0, 0.4);
  border: 1px solid $ms-color-neutralLight;

  &:before {
    border: none;
  }
}

.ms-Dropdown-item.is-selected {
  line-height: 38px;
}