@import '../../common/common';

.ms-GroupHeader {
  cursor: default;
  user-select: none;
  @include focus-border();

  &:hover {
    background: $ms-color-themeLighterAlt;
  }
  &.is-selected {
    background: $ms-color-themeLighter;
  }
  &.is-selected:hover {
    background: $ms-color-themeLight;
  }
}

.ms-GroupHeader-check,
.ms-GroupHeader-expand {
  @include focus-border();

  display: inline-block;
  cursor: default;
  padding: 8px;
  transform: translateY(50%);
  margin-top: -10px;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  border: none;
}

.ms-GroupHeader-check {
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

.ms-GroupHeader:hover .ms-GroupHeader-check,
.ms-GroupHeader.is-selected .ms-GroupHeader-check {
  opacity: 1;
}

.ms-GroupHeader-title {
  padding: 14px 6px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
}

.ms-GroupHeader-expand {
  width: 36px;
  height: 40px;

  .ms-Icon {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
    transition: transform .1s linear;

    &.is-collapsed {
      transform: rotate(0deg);
    }
  }
}

.ms-GroupHeader-loading {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  padding: 0px 16px;
  vertical-align: middle;
  transition: visibility $ms-duration3, opacity $ms-duration3;

  &.is-loading {
    visibility: visible;
    opacity: 1;
  }
}
