@import '../../common/common';
@import "~office-ui-fabric/src/components/MessageBar/MessageBar";

// Shared
.ms-MessageBar-icon {
  @include padding-right(8px);
  min-width: 16px;
  min-height: 16px;
  display:flex;
}

.ms-MessageBar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.ms-MessageBar-content {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.ms-MessageBar-text {
  width: 100%;
  display: flex;
}

.ms-MessageBar-link {
  white-space: nowrap;
  padding: 0 8px 0;
}

.ms-MessageBar-actionables {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.ms-MessageBar-actionables > .ms-MessageBar-dismissal {
    right: 0;
    top: 0;
    position: absolute !important; // Needed because we're using focus-border mixin
}

.ms-MessageBar-actions, .ms-MessageBar-actions-oneline {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row-reverse;
  align-items: center;
}

.ms-MessageBar-actions-oneline {
  position: relative;
}

.ms-MessageBar-actions {
  padding-top: 12px;
}

.ms-MessageBar-dismissal {
  padding: 8px;
  @include focus-border();
}

.ms-MessageBar-link {
  @include padding-left(4px);
}

// Add space between adjacent MessageBars.
.ms-MessageBar + .ms-MessageBar {
  margin-bottom: 6px;
}

.ms-MessageBar-innerTextPadding {
  @include padding-right(16px); // Add padding if we have a dismiss to prevent button overlapping text.

  span, .ms-MessageBar-innerText > span {
    @include padding-right(4px); // Add padding between text and hyperlink.
  }
}

// When we can have multiple lines in the message bar.
.ms-MessageBar-multiline > .ms-MessageBar-content > .ms-MessageBar-actionables {
  flex-direction: column;
}

// When we should have only a single line of text in the message bar.
.ms-MessageBar-singleline {
  .ms-MessageBar-content {
    .ms-MessageBar-icon{
      @include padding(16px, 8px, 16px, 0);
      align-items: center;
    }

    .ms-MessageBar-text {
      padding: 16px 0 16px 0;
    }

    .ms-MessageBar-actionables > .ms-MessageBar-text {
      .ms-MessageBar-innerText,
      .ms-MessageBar-innerTextPadding {
        max-height: 1.3em;
        line-height: 1.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        //white-space: nowrap;
      }
    }
  }

  .ms-MessageBar-content > .ms-MessageBar-actionables {
    flex-direction: row;
  }
}

// Because of an odd behaviour in other CSS, ms-MessageBar--remove causes children's icons to use 8px, and not inherit.
.ms-MessageBar.ms-MessageBar--remove .ms-Icon--x {
  font-size: 13.333px;
}