@import '../../common/common';

.ms-CommandBarItem-icon,
.ms-CommandBarItem-overflow
 {
  padding: 0 2px;
  min-width: 17px;
}

// Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information.

//
// Office UI Fabric
// --------------------------------------------------
// Command Bar styles

$CommandBar-height: 40px;
$CommandBar-mobileHeight: 48px;
$CommandBar-iconSize: 18px;
$CommandBar-smallLeft: 44px;
$CommandBar-largeLeft: 48px;
$CommandBar-xLargeLeft: 232px;
$CommandBar-sideAreaWidthsm: 128px;
$CommandBar-sideAreaWidthlg: 260px;
$CommandBar-sideAreaWidthxlg: 345px;

$CommandBarItem-height: $CommandBar-height;
$CommandBarItem-marginTop: 13px;
$CommandBarItem-textHeight: 16px;
$CommandBarItem-iconWidth: 16px;
$CommandBarItem-iconLabelMargin: 8px;
$CommandBarItem-flippedLineHeight: 32px;


$SearchBox-height: 40px;
$SearchBox-widthLgCollapsed: 50px;
$SearchBox-widthMdDownCollapsed: 36px;
$SearchBox-widthXLarge: 208px;
$SearchBox-iconSize: 17px;
$SearchBox-sidePadding: 8px; // padding in input on left and right sides without icons
$SearchBox-smallWidth: 36px;
$SearchBox-iconWrapperWidth: $SearchBox-widthLgCollapsed - ($SearchBox-sidePadding * 2);

@mixin highContrastBorder($color) {
    @include border-left(1px, solid, $color);
    @include border-right(1px, solid, $color);
}

.ms-CommandBar {
  position: relative;
  background-color: $ms-color-themeLighterAlt;
  height: $CommandBar-height;
  white-space: nowrap;

  user-select: none;
}

.ms-CommandBar-primaryCommands {
  position: absolute;
  overflow: hidden;
  display: inline;
  vertical-align: top;
  line-height: $CommandBar-height;
  margin: 0 24px;
}

.ms-CommandBar-sideCommands {
  position: absolute;
  @include right(0px);
  @include text-align(right);
  @include padding-right(24px);
}

// Command Bar Item
.ms-CommandBarItem {
  display: inline-block;
  color: $ms-color-themePrimary;
  height: $CommandBarItem-height;
  outline: transparent;
  vertical-align: top;
  margin: 0 2px;

  @media screen and (-ms-high-contrast: active) {
    @include highContrastBorder($ms-color-black);
    height: 38px;
    outline: none;
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    @include highContrastBorder($ms-color-white);
    height: 38px;
    outline: none;
  }
}

.ms-CommandBarItem-chevronDown,
.ms-CommandBarItem-commandText {
  display: inline;
  padding: 0 2px;
}

.ms-CommandBarItem-overflow {
  font-size: $ms-font-size-m;
  color: $ms-color-neutralSecondary;
}

@mixin CommandBarItem-text {
  @include focus-border(2px);

  position: relative;
  background: none;
  border: none;
  line-height: $CommandBarItem-height - 1;
  height: $CommandBarItem-height;
  min-width: 20px;
  text-align: center;
  padding: 0 2px;
  display: block;
  height: 100%;
}

.ms-CommandBarItem-text {
  @include CommandBarItem-text;
}

.ms-CommandBarItem-link {
  @include CommandBarItem-text;
  cursor: pointer;
  padding: 0 6px;

  &:hover,
  &.is-expanded {
    background-color: $ms-color-themeLight;
    color: $ms-color-themePrimary;

    @media screen and (-ms-high-contrast: active) {
      @include highContrastBorder($ms-color-white);
    }

    @media screen and (-ms-high-contrast: black-on-white) {
      @include highContrastBorder($ms-color-black);
    }
  }
}

.ms-CommandBarItem-icon {
  font-size: $ms-font-size-l;
  color: $ms-color-themePrimary;
}

.ms-CommandBarItem-chevronDown  {
  vertical-align: baseline;
  color: $ms-color-neutralSecondary;
  font-size: 16px;
  width: 16px;
  padding: 0 2px;
}

.ms-CommandBarSearch {
  @include float(left);
  width: 208px;
  max-width: 208px;
  background-color: $ms-color-themeLighter;
  color: $ms-color-neutralPrimary;
  height: $SearchBox-height;
  position: relative;
  box-sizing: border-box;
  border-color: transparent; // give a base state for animation

  @media screen and (-ms-high-contrast: active) {
    @include border-right(1px, solid, $ms-color-white);
    z-index: 10;
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    @include border-right(1px, solid, $ms-color-black);
  }

  &:hover {
    background-color: $ms-color-themeLight;
    color: $ms-color-themePrimary;

    @media screen and (-ms-high-contrast: active) {
      @include highContrastBorder($ms-color-white);
    }

    @media screen and (-ms-high-contrast: black-on-white) {
      @include highContrastBorder($ms-color-black);
    }
  }

  .ms-Icon--search {
    @include margin-left(2px);
    margin-top: 12px;
    vertical-align: top;
  }
}

.ms-CommandBarSearch-input {
  height: $SearchBox-height;
  // Due to a bug in IE9, we have to use a transparent left border instead of left padding
  padding: $SearchBox-sidePadding $SearchBox-sidePadding $SearchBox-sidePadding 0;
  border: none;
  @include border-left($SearchBox-height + 2, solid, transparent);
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  font-size: $ms-font-size-m;

  @media screen and (-ms-high-contrast: active) {
    @include border-left($SearchBox-height, solid, $ms-color-black);
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    @include border-left($SearchBox-height, solid, $ms-color-white);
  }

  // remove default iOS styles on input boxes
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  // hide IE's X button for clearing the input (we have our own)
  &::-ms-clear {
    display: none;
  }
}

// default styles for icons, show the search icon and hide X (and arrow) until focused
.ms-CommandBarSearch-iconSearchWrapper {
  display: block;
  @include padding-left(15px);
}

.ms-CommandBarSearch-iconArrowWrapper {
  display: none;
}

.ms-CommandBarSearch-iconSearchWrapper,
.ms-CommandBarSearch-iconArrowWrapper {
  top: 0;
  @include padding-left(8px);
  @include padding-right(8px);
}

.ms-CommandBarSearch-iconClearWrapper {
  display: none;
  top: 1px;
  @include right(0px);
  z-index: $ms-zIndex-front;
}


//== State: Puts search in an active state
//
.ms-CommandBarSearch.is-active {
  background-color: $ms-color-themeLight;
  color: $ms-color-black;

  &:hover {
    background-color: $ms-color-themeLight;
    color: $ms-color-black;
  }

  .ms-CommandBarSearch-input {
    cursor: text;
    @include padding-right($SearchBox-height); // leave room for the X
    @include border-left-width($SearchBox-sidePadding);
  }

  &.ms-CommandBarSearch--hasBack .ms-CommandBarSearch-input {
    @include border-left-width($SearchBox-height); // leave room for arrow
  }

  // when focused, remove the search icon and possibly show arrow icon
  & .ms-CommandBarSearch-iconSearchWrapper {
    display: none;
  }

  &.ms-CommandBarSearch--hasBack .ms-CommandBarSearch-iconArrowWrapper {
    display: block;
  }

  .ms-CommandBarSearch-input {
    @include padding-right($SearchBox-height);
  }

  .ms-CommandBarSearch-iconClearWrapper {
    display: block;
  }
}

.ms-CommandBarSearch-iconWrapper {
  height: $SearchBox-height;
  line-height: $SearchBox-height;
  cursor: pointer;
  padding: 0px $SearchBox-sidePadding;
  position: absolute;
  width: $SearchBox-iconWrapperWidth;
  text-align: center;
}


// New rules

.ms-CommandBarSearch .ms-Icon:before {
  font-size: $SearchBox-iconSize;
  color: $ms-color-themePrimary;
}

.ms-CommandBarSearch-input,
.ms-CommandBarSearch-input::-webkit-input-placeholder {
  font-family: $ms-font-family-regular;
  font-size: $ms-font-size-m;
}
.ms-CommandBarSearch-input::-webkit-input-placeholder {
  font-style: italic;
}
