@import '../../common/common';
@import "~office-ui-fabric/src/components/Link/Link";

.ms-Link,
BUTTON.ms-Link {
  @include focus-border();

  /* Needed for buttons disguised as links scenario. */
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;

  border: none;
  background: none;
  @include text-align(left);
  display: inline;
  padding: 0;
  margin: 0;
}

